@import url("https://use.typekit.net/ypu2eqq.css");

/*Colors*/
:root {
    --background: rgb(247, 247, 247);
    --font-lightDark: #707070;
    --font-lighterDark: #505050;
    --font-dark: #333333;
    --font-darkest: #0d0d0d;
    --hover-blue:#a2d2ff;
    --header-font: "rooney-web", serif;
    --text-font:"poppins", sans-serif;;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: var(--background);
    font-family: var(--text-font);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
}

div {
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: var(--header-font);
    font-weight: 400;
    font-style: normal;
    font-size:5em;
    color: var(--font-dark);
    margin: 0 auto;
}

h2 {
    font-family: var(--text-font);
    font-weight: 500;
    font-style: normal;
    color: var(--font-darker);
    margin: 30px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

p {
    margin: 50px 0px 0px 0px;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    background-color: #fff;
    color: var(--font-lighterDark);
    margin-right: 20px;
    padding: 10px 20px;
    transition:0.4s;
}

a:hover {
    background-color: var(--hover-blue);
}

aside {
    margin: 60px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

aside img {
    height: 50px;
    padding: 5px;
}

figure img {
    height: 500px;
    border:1px solid;
}

@media screen and (max-width:1000px) {

    main {
        flex-direction: column;
        justify-content: start;
    }

    div {
        padding: 20px;
        margin: 0 auto;
        display: block;
        height: 350px;
        width:525px
    }

    h1 {
        font-size: 3em;
    }

    p {
        margin:10px 0px;
    }

    a {
        display: flex;
        flex-direction: column;
    }

    aside {
        margin: 0px 0px;
        width:100%;
    }

    figure {
        margin: 10px 0px;
        padding: 0;
    }

    figure img {
        width:460px;
        height:auto;
        margin: 0 auto;
    }

}

@media screen and (max-width:550px) {

    div {
        height:380px;
        width: 100%;
        margin: 0 auto;
    }

    figure img {
        margin: 0 auto;
        width: 100%;
    }

}